<div class="container center-align custom-container">
<br><br>  <img src='/images/main-logo.png' id="front-image">
  <h1>Welcome to serviceBook!</h1>
  <p>Never forget when your last oil change was again, with serviceBook, you can keep track of your vehicles maintenance log.</p>
    <a class="btn waves-effect waves-light" href="/signup" role="button">Get started</a>
</div>
