<div class="container">
<div class="row">
  <h1>Login</h1>

  <% if(flash.length > 0) { %>
    <div class="alert alert-danger"><%= flash %></div>
    <% } %>

    <form action="/login" method="post">
      <div class="row">
        <label>Email</label>
        <input type="text" class="input-field" name="email">
      </div>
      <div class="row">
        <label>Password</label>
        <input type="password" class="input-field" name="password">
      </div>

      <button type="submit" class="btn waves-effect waves-light">Login</button>
    </form>
    <hr>
    <p>Or, <a href="/signup">Signup</a></p>
    <p>Go back <a href="/">home</a>.</p>

  </div>
</div>
