<div class="container">
  <div class="row ">
    <h1><%= user.local.name %></h1>
    <form action="<%= user._id %>" method="post">
      <div>
        <label>Name</label>
        <input type="text" name="local.name" value="<%= user.local.name %>">
      </div>
      <div>
        <label>Email</label>
        <input type="text" name="local.email" value="<%= user.local.email %>">
      </div>
      <input type="hidden" name="_method" value="PATCH">
      <button type="submit" class="btn waves-effect waves-light">Submit</button>
      <a href="/profile" class="btn waves-effect waves-light">Cancel</a>
    </form>
  </div>
</div>
