.car-result {
  cursor: pointer;
}

#service-tbody img {
  max-width:40px;
  cursor: pointer;
}

#front-image {
  max-width: 300px;
}

.btn {
  background-color: rgb(98, 91, 111);
}

#brand-logo {
  max-width: 130px;
  padding-top: 5px;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-image: url("/images/crossword.png");
  color: rgb(98, 91, 111);
}

#delete-account {
  background-color: rgba(255, 0, 0, 0.38);
}

.spaced {
  margin: 40px 0;
}

div#login-modal {
    border-radius: 10px;
    background-image: url("/images/crossword.png");
}
 .custom-nav {
   background-color:rgb(98, 91, 111);
 }
